.dropdown {
  position: absolute;
  height: fit-content;
  min-width: 170px;
  top: 50px;
  left: 10px;
  backdrop-filter: blur(3px);
  background-color: rgba(61, 60, 61, 0.81);
  border-radius: 5%;
  color: white;
  padding: 6px 4px;

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    border-radius: 6px;
    padding: 3px 2px;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #17181b;
    }
  }
}
