.chat {
  &-container {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 10px;
    max-height: 65px;

    &-active {
      border-radius: 15px;
      background-color: var(--quaternary-bg-color);
    }

    &-inactive {
      &:hover {
        background-color: var(--tertiary-bg-color);
        border-radius: 15px;
        transition: background-color 0.25s;
        cursor: pointer;
      }
    }
  }

  &-avatar {
    align-self: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    overflow: hidden;

    &-row {
      display: flex;
      justify-content: space-between;
    }
  }

  &-name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-text-color);
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-last-message {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--tertiary-text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &-meta {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &-check {
      display: flex;
      align-items: center;
      justify-content: center;
      color: purple;
      max-height: 15px;
      max-width: 15px;
    }

    &-time {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: gray;
    }
  }
}
