@import "animations";

.message {
  &-my-container, &-other-container {
    display: flex;
    will-change: transform, opacity;
    flex-direction: column;
    margin: 4px 4px 4px auto;
    width: fit-content;
    max-width: 70%;
    animation: messageSlideRight 0.5s ease-in-out forwards;
  }

  &-other-container {
    margin: 4px auto 4px 4px;
    animation: messageSlideLeft 0.5s ease-in-out forwards;
  }

  &-my-username, &-other-username {
    display: flex;
    justify-content: end;
    font-size: 13px;
    color: #c9c9c9;
  }

  &-other-username {
    justify-content: start;
  }

  &-my-content, &-other-content {
    display: flex;
    flex-direction: column;
    color: #c9c9c9;
    background-color: #644b6b;
    border-radius: 10px 10px 0 10px;
    box-shadow: 0 0.5px 5px 0.1px rgba(0, 0, 0, 0.5);
    margin: 4px 4px 4px auto;
    padding: 5px 10px;
    width: fit-content;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  &-other-content {
    background-color: #2e333d;
    border-radius: 10px 10px 10px 0;
    margin: 4px 4px auto 4px;
  }

  &-status {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 10px;
    color: #7a787a;
  }
}

.test {
  transform: scale(0.6);
}
