@import "styles/header";
@import "styles/section";
@import "styles/message";
@import "styles/buttons";
@import "styles/chat";
@import "styles/login";
@import "styles/form";
@import "styles/scroll";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  color: #333;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
