html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  color: #333;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
  background-color: #8E24AA;

  & > div {
    display: flex;
  }

  &-recipient {
    display: flex;
    gap: 5px;

    &-avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      padding: 3px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-username {
        font-size: 18px;
        font-weight: bold;
        color: white;
      }

      &-online {
        font-size: 12px;
        color: #c9c9c9;
      }
    }
  }
}

.section {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: auto;

  &-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 5px 0;
    background-color: #f2f2f2;
  }
}

.form {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: white;
  border-top: 1px solid #ccc;
  height: fit-content;

  &-textarea {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 100%;
    resize: none;
    max-height: 20vh;
    overflow: auto;
  }
}

.message {
  &-my-container, &-other-container {
    display: flex;
    flex-direction: column;
    margin: 4px 4px 4px auto;
    width: fit-content;
    max-width: 70%;
  }
  
  &-other-container {
    margin: 4px auto 4px 4px;
  }

  &-my-username, &-other-username {
    display: flex;
    justify-content: end;
    font-size: 13px;
    color: #380136;
  }
  
  &-other-username {
    justify-content: start;
  }

  &-my-content, &-other-content {
    display: flex;
    flex-direction: column;
    background-color: #dd89f5;
    border-radius: 10px 10px 0 10px;
    box-shadow: 0 0.5px 5px 0.1px rgba(0, 0, 0, 0.5);
    margin: 4px 4px 4px auto;
    padding: 5px 10px;
    width: fit-content;
    word-break: break-all;
  }
  
  &-other-content {
    background-color: white;
    border-radius: 10px 10px 10px 0;
    margin: 4px 4px auto 4px;
  }

  &-status {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 10px;
    color: #7a787a;
  }
}

@mixin button-styles {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px;
  width: fit-content;
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.25s;
  &:focus {
    outline: none;
  }
}

.button {
  &-white {
    color: white;
    @include button-styles;

    &:hover {
      background-color: #bdbbbb76;
      cursor: pointer;
    }
  }

  &-gray {
    @include button-styles;
    color: #858585;

    &:hover {
      background-color: #bdbbbb76;
      cursor: pointer;
    }
  }

  &-send {
    @include button-styles;
    background-color: #f4affacd;
    transition: box-shadow 0.25s;

    &:hover {
      box-shadow: 0 0.5px 10px 0.1px rgba(0, 0, 0, 0.5);
      transition: box-shadow 0.25s;
      cursor: pointer;
    }
  }
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #464546;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
